*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	width: 1920px;
	height: 1080px;
}


/* custom styles */
#welcome { 
   position: absolute;
   left: 50px; 
   top: 50px;
   width: 500px; 
   height: 50px; 
   background-color: #afafaf; 
   color: #99ffff; 
   font-size: 30px; 
   text-align: center;
}